// Defino las variables de colores pasteles cálidos ///  #FFE5D9;
$color-bg:        #FFF8F0;
$color-text:      #080501;
$color-header:    #e6c9bb;
$color-card:      #ece3dd;
$color-border:    #b9a198;
$color-hover:     #FFB4A2;
$color-link:      #7C4D2B;
$color-link-hover:#E29578;


